@import "tailwindcss";

@layer base {
  :root {
    --color-fighting: #ffa202;
    --color-poison: #994dcf;
    --color-ground: #ab7939;
    --color-flying: #95c9ff;
    --color-psychic: #ff637f;
    --color-bug: #9fa424;
    --color-rock: #bcb889;
    --color-ghost: #6e4570;
    --color-dragon: #5462d6;
    --color-dark: #4f4747;
    --color-steel: #6aaed3;
    --color-fairy: #ffb1ff;
    --color-normal: #999999;
    --color-fire: #ff612c;
    --color-water: #2992ff;
    --color-electric: #ffdb00;
    --color-grass: #42bf24;
    --color-ice: #42bfff;
  }
}

@layer utilities {
  .text-fighting {
    color: var(--color-fighting);
  }
  .text-poison {
    color: var(--color-poison);
  }
  .text-ground {
    color: var(--color-ground);
  }
  .text-flying {
    color: var(--color-flying);
  }
  .text-psychic {
    color: var(--color-psychic);
  }
  .text-bug {
    color: var(--color-bug);
  }
  .text-rock {
    color: var(--color-rock);
  }
  .text-ghost {
    color: var(--color-ghost);
  }
  .text-dragon {
    color: var(--color-dragon);
  }
  .text-dark {
    color: var(--color-dark);
  }
  .text-steel {
    color: var(--color-steel);
  }
  .text-fairy {
    color: var(--color-fairy);
  }
  .text-normal {
    color: var(--color-normal);
  }
  .text-fire {
    color: var(--color-fire);
  }
  .text-water {
    color: var(--color-water);
  }
  .text-electric {
    color: var(--color-electric);
  }
  .text-grass {
    color: var(--color-grass);
  }
  .text-ice {
    color: var(--color-ice);
  }

  .bg-fighting {
    background-color: var(--color-fighting);
  }
  .bg-poison {
    background-color: var(--color-poison);
  }
  .bg-ground {
    background-color: var(--color-ground);
  }
  .bg-flying {
    background-color: var(--color-flying);
  }
  .bg-psychic {
    background-color: var(--color-psychic);
  }
  .bg-bug {
    background-color: var(--color-bug);
  }
  .bg-rock {
    background-color: var(--color-rock);
  }
  .bg-ghost {
    background-color: var(--color-ghost);
  }
  .bg-dragon {
    background-color: var(--color-dragon);
  }
  .bg-dark {
    background-color: var(--color-dark);
  }
  .bg-steel {
    background-color: var(--color-steel);
  }
  .bg-fairy {
    background-color: var(--color-fairy);
  }
  .bg-normal {
    background-color: var(--color-normal);
  }
  .bg-fire {
    background-color: var(--color-fire);
  }
  .bg-water {
    background-color: var(--color-water);
  }
  .bg-electric {
    background-color: var(--color-electric);
  }
  .bg-grass {
    background-color: var(--color-grass);
  }
  .bg-ice {
    background-color: var(--color-ice);
  }
}
